Grafana-Alloy/config.alloy
Grafana-Alloy/config.alloy.bak
Linkwarden/data/
Linkwarden/meili_data/
Linkwarden/pgdata/
Mealie/mealie-pgdata/
Muse/muse/
NGINX-Proxy-Manager/data/
NGINX-Proxy-Manager/letsencrypt/
Suivi-Bourse/config.yaml
